<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Appointer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Appointer.Properties.Settings>
            <setting name="Persons" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>лейтенанта ПЕТРУШКОВА К.В., младшего референта 1 отделения 2 отдела</string>
                        <string>капитана УШАНСКОГО А.А., старшего инженера 3 отделения 4 отдела</string>
                        <string>лейтенанта КИСКОВА Е.П., младшего референта 5 отделения 6 отдела</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Comendas" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>майору МОЛОТКО А.А., начальнику смены комендантского отделения</string>
                        <string>старшему прапорщику ЯКОВУ А.В., помощнику дежурного коменданта 1 категории комендантского отделения</string>
                        <string>прапорщику ГРИГОРЬЕВОЙ Г.В., помощнику дежурного коменданта 2 категории комендантского отделения</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Outfits" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>дежурным по Центру</string>
                        <string>заместителем дежурного по Центру</string>
                        <string>дежурным по посту №1</string>
                        <string>помощником дежурного по посту №1</string>
                        <string>дежурным по посту №2</string>
                        <string>помощником дежурного по посту №2</string>
                        <string>дежурным по гаражу с 08:00 до 20:00 часов</string>
                        <string>дежурным оператором ТСО с 08:00 до 20:00 часов</string>
                        <string>дежурным по контрольно-обходному посту с 08:00 до 20:00 часов</string>
                        <string>помощником дежурного по контрольно-обходному посту с 08:00 до 20:00 часов</string>
                        <string>дежурным оператором ТСО с 20:00 до 08:00 часов</string>
                        <string>дежурным по контрольно-обходному посту с 20:00 до 08:00 часов</string>
                        <string>помощником дежурного по контрольно-обходному посту с 20:00 до 08:00 часов</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Appointer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
